<form (submit)="loginUser($event)">
    <div class="login-container">
        <div class="input-container">
            <div class="form-group">
                <input type="text" class="form-control" id="loginInput" [placeholder]="loginPlaceholder" />
            </div>
            <div class="form-group">
                <input type="password" class="password-control form-control" id="passwordInput"
                    [placeholder]="passwordPlaceholder" appAppPassword />
            </div>
            <div class="form-group-link">
                <a>Create account</a>
            </div>
        </div>
        <div class="button-container text-center">
            <button type="submit" mat-button class="btn">Login</button>
        </div>
    </div>
</form>